@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #FDFCFF;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
} */

.drop{
	padding: 0;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.44);
	margin: 0 auto;
	border-radius:0% 100% 100% 100%;
  transform: rotate(45deg);
}

.softGlow {
  background: rgb(107,60,182);
  background: radial-gradient(circle, rgba(86, 225, 255, 0.30) 0%, rgba(25,4,46,0) 70%);
}

.linear-gradient {
  background: rgb(107,60,182);
  background: linear-gradient(rgba(25,4,46,0) 0%, rgba(86, 224, 255, 0.15) 70%);
}
.shadow {
  box-shadow: rgba(38, 57, 77, 0.592) 0px 0px 50px -5px;
}

.input {
  outline: none;
  transition: all 0.1s ease-in-out;
  color: black;
}

.input:focus {
  transition: all 0.1s ease-in-out;
  border-color: rgb(0, 153, 255);
  box-shadow: 0px 0px .2em 0px rgb(0, 153, 255);
}

.option:hover {
  background-color: rgb(92, 168, 219);
}

.button {
  background-color: #008cff;
  padding: .1rem;
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
  justify-content: center;
  align-self: center;
  width: 25%;
  height: auto;
  margin-left: 37.5%;
}

.button:hover {
  transition: all 0.1s ease-in-out;
  border-color: #cccccc;
  background-color: #55b3ff;
}

.image-background {
  background: url("../public/shutterstock-653708227.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(.5rem);
  filter: contrast(.5rem);
  scale: 1.1;
  position: absolute;
}

.nav-box {
  width: 100vw;
  background-color: #cccccc;
  height: 10vh;
}
